[Unit]
Description=SITENAME gunicorn daemon
Requires=gunicorn.SITENAME.socket
After=network.target

[Service]
PIDFile=/run/gunicorn.SITENAME/pid
User=USERNAME
Group=USERNAME
WorkingDirectory=/home/USERNAME/www/SITENAME/source
ExecStart=/home/USERNAME/www/SITENAME/virtualenv/bin/gunicorn --bind unix:/run/gunicorn.SITENAME/socket --pid /run/gunicorn.SITENAME/pid superlists.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
